

body{
  background-color: black;
  color:white;

  background-attachment: fixed;
  display:fixed;
  background-image:url(./src/hhhh.avif) ;
  background-repeat: no-repeat;
  background-size: cover;
}

dl{
  margin-left: 70px;
  font-size: 20px;
  margin-top: 70px;
}
.div1{
  border: solid white;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.div2{
  border: solid white;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.div3{
  border: solid white;
  width: 50%;
  padding: 10px;
  text-align: center;
}
dt:hover{
background-color: rgb(141, 34, 241);

}

 a i{
  font-size:30px;
  margin-top: 40px;
  color: white;
  margin-left: 20px;

}
h1 {
  margin-left: 70px;
  margin-top: -30px;

}

 
 
 
 
 


